/* Estilos para el cuadro de selección de imagen */
        #label-imagen-paciente {
            padding: .2em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 150px;
            border: 5px dashed #b5b5b5ff;
            border-radius: 5px;
            background: #f1f1f1;
            cursor: pointer;
            margin-bottom: 10px;
            transition: border-color 0.2s;
            color: #616161ff;
        }

        #icono-imagen-paciente {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #icono-imagen-paciente i {
            font-size: 2.5rem;
        }

        #icono-imagen-paciente span {
            font-size: 1.3rem;
        }


        #label-imagen-paciente:hover {
            border-color: #acacacff;
            background: #e8e8e8;
            color: #acacacff;

        }

        #label-imagen-paciente img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }

        #imagen_paciente {
            display: none;
        }

        #preview-imagen-paciente {
            width: 150px;
            height: 150px;
        }
        
        

      