
        .form-control:focus {
            border: 2px solid var(--color4);
            box-shadow: 0 0 0 0.1rem rgba(224, 195, 35, 0.18);
            background: #fff;
        }

        .test-container {
            background-color: #f8f9fa;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
        }

        .test-question {
            margin-bottom: 15px;
            padding: 10px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        }

        .test-header {
            background-color: var(--color5);
            color: white;
            padding: 10px 15px;
            border-radius: 8px 8px 0 0;
            margin-bottom: 15px;
        }

        .test-option {
            display: flex;
            align-items: center;
            margin-right: 15px;
        }

        .test-options-group {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .carousel-item {
            padding: 4% 6%;
        }

        .carousel-control-next,
        .carousel-control-prev {
            background-color: #75a5b8;
            width: 5%;
            opacity:.7;
        }

        .carousel-indicators {
            background-color: #75a5b8;
        }
        
      